
/*
    All document
 */

body {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
}

#base-container {
    overflow: hidden;
    flex-direction: column;
}

.full-screen {
    height: 100vh;
}

/*
    Header content
*/

#header-container {
    background: url("../img/header-bg.jpg");
    box-shadow: 0 5px 10px #000000;
    flex-direction: column;
}

#top-line {
    height: 10px;
    background:#40aed7;
}

#head {
    height: 64px;
    background: #323232;
    flex-direction: row;
}

#nav-bar {

}

/*
    Main content
 */

#center-container {
    flex-direction: column;
    padding: 0 20vw 0 20vw;
}

.cards-container {
    margin-top: 2vw;
    flex-direction: row;
    justify-content: space-between;
}

.business-card {
    width: 10vw;
    height: 16vw;
    background:#40aed7;
    box-shadow: 2px 5px 5px #000000;
}

#news-title {
    font-family: "Roboto Light", serif;
    font-size: 6vw;
    margin: 2vw auto 0 auto;
}

.news-card {
    width: 10vw;
    height: 16vw;
    flex-direction: column;
}

.nc-title {
    height: 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1vw;
}

.nc-content {
    height: 12vw;
    background: #dcdcdc;
}

.nc-details {
    height: 2vw;
    margin-top: 2px;
    margin-left: auto;
    font-size: 1vw;
}

/*
    Footer
 */

#footer-container {
    margin-top: 1vw;
    height: 40vh;
    background: #323232;
    flex-direction: row;
    justify-content: space-around;
    font-family: Georgia, fantasy;
}

.footer-column {
    width: 23vw;
    margin: 1vw 4vw 1vw 1vw;
}

.footer-title {
    color: #ffffff;
    font-size: 26px;
    margin: 3vh 0 2vw 0;
}

.footer-post {
    color: #b9b9b9;
}

.post-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.post-text {
    font-size: 15px;
    line-height: 26px;
}

.footer-list {
    flex-grow: 1;
    flex-direction: column;
}

.list-element {
    padding: 4px;
    font-size: 18px;
    border-bottom: #737373 solid 1px;
}

.footer-link {
    color: #40aed7;
    text-decoration: none;
}